body {
    margin: 0 auto;
    margin-top: -70px;
}
h1 {
    font-family: playfair-display;
    font-size: 100px; 
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: center;
    top: 630px;
}
div {
   text-align: center;
    margin: 0 auto;
    padding: 30px;
}
.parallax {
    background-image: url("http://photos.vanityfair.com/2015/07/17/55a91cddfff2c16856a6d982_week-in-fashion-gal-gadot-gucci.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    font-family: playfair-display;
    text-transform: uppercase;
}
.content {
    font-family:avenir-light;
    font-size:15px;
    width:500px;
    padding: 0px;
}
a {
    color:#63008c;
    text-decoration:none;
}
#second {
    min-height: 450px;
} 
.spacing {
    margin-bottom: 60px;
}
li {
    line-height: 23px;
}
.button {
    font-family:avenir-light;
    font-size:15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 16px;
}